.products-main {
  margin-top: 3.75rem;
}

.products-title {
  font-size: 2rem;
}

.add-products-form {
  margin-top: 1.8rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.add-products-form-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem 1rem;
}
.add-product-form-group {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  width: 100%;
  background-color: #f4f4f4;
  padding: 0px 1.25rem;
  border-radius: 0.6rem;
}

.add-product-input {
  outline: none;
  border: none;
  background-color: unset;
  pad: 0.5rem 0.6rem;
  font-size: 1.1rem;
  width: 100%;
}

.add-product-submit{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    outline: none;
    margin-top: 0.6rem;
    padding: 0.6rem 1.25rem;
    font-size: 1.1rem;
    border-radius: 0.6rem;
}
