.sidebar {
  position: fixed;
  background-color: var(--blue);
  height: 100vh;
  flex: 1;
}
.sidebar-title {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem;
  text-align: right;
  border-bottom: 2px solid #6c48bb;
}

.sidebar-links{
    margin-top: 1.25rem;
}
.sidebar-links li {
    position: relative;
    padding: 15px;

}

.sidebar-links li a{
    width: 100%;
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: right ;
    align-items: center;
    font-size: 1.3rem;
}

.sidebar-links li.active {
    background-color: #391589;
}

.sidebar-links li:first-child {
    margin-bottom: 1.25rem;
}

.icon{
    margin-left: 0.5rem;
}