*{
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
}



.container-items{
    display: flex;
    margin-top: 10px;

}

.link{
    text-decoration: none;
    color: inherit;
}









