*{
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1564px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* background-color: coral; */
}













