.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}

.form {
  box-shadow: 0 0 10px 1px #ff6f61;
  padding: 2rem 5rem;
  width: 400px;
  border-radius: 5px;
}

.formControl:not(:nth-last-of-type(1)) {
  margin-bottom: 15px;
}
.formControl label {
  display: flex;
  font-weight: 700;
  font-size: 1.6rem;
}
.formControl > label {
  margin-bottom: 5px;
}
.formControl input + label {
  display: inline-flex;
  font-size: 1.4rem;
  margin-right: 30px;
}
.radio,
.check {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check label {
  margin-bottom: 0px;
}
.formControl input[type="text"],
.formControl input[type="email"],
.formControl input[type="password"],
select {
  box-sizing: border-box;
  font-size: 1.4rem;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  display: block;
  color: #555;
}
.error {
  color: red;
  font-size: 1.1rem;
}

button {
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ff6f61;
  border: none;
  color: white;
  border-radius: 5px;
}

button:disabled {
  background-color: #ff6e6167;
  cursor: not-allowed;
}

@media screen and (max-width: 1024px) {
  .form {
    box-sizing: border-box;
    padding: 1.2rem 2rem;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formControl {
    width: 100%;
  }
  .formControl input[type="text"],
  .formControl input[type="email"],
  .formControl input[type="password"],
  select {
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 1rem;
  }
  .buttons {
    width: 100%;
  }
  button {
    font-size: 1.4rem;
    width: 100%;
    padding: 1.2rem 2rem;
    background-color: #ff6f61;
  }
}
