@font-face {
    font-family:"aviny";
    font-weight: 400;
    font-style:normal;
    src: url("/public/Font/FontSayeh/aviny.ttf");
}
@font-face {
    font-family:"BNazanin";
    font-weight: 400;
    font-style:normal;
    src: url("/public/Font/FontSayeh/BNazanin.woff") format("woff");
}


.hero-container{
    width: 100%;
    background-image:url(/public/Images/Hero-image/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-topics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.hero-topics h1{
    font-family: "aviny";
    font-size: 55px;
    color: #144468 ;
}


.hero-topics p{
    font-family:"BNazanin";
    font-size: 1.8rem;
    color:#444444 ;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.hero-topics a{
    font-family:"BNazanin";
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #2487ce;
    padding: 0.4rem 2.5rem ;
    border-radius: 0.5rem;

}

.boxes{
    width: 90%;
    height: 18rem;
    margin: 5rem 0;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.7rem;
    padding: 1rem ;
    
}












