.product{
    display: flex;
    flex-direction: column;
    width: 15rem;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0,0,0,0.2) 1px 2px 4px 5px;
    overflow: hidden;
}

h1{
    border-bottom: 2px solid black;
}
.product img {
    width: 100%;

}

.description{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    height: 3rem;
}

p{
    font-size: 1.2rem;
}


button{
    background:none;
    outline: none;
    color: #fff;
    border: 2px solid coral;

    background-color: coral;

    padding: 0.6rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

button:hover{
    border: 2px solid coral;
    color: coral ;
    background-color: #fff;

}